name: Release

on: push
# on:
#   release:
#     types:
#       - created

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          always-auth: true
          node-version: ${{ matrix.node-version }}
      - run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_AUTH_TOKEN }}" > ~/.npmrc
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Install dependencies
        run: yarn
      - name: Get the version
        # run: echo "RELEASE_VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV
        run: echo "RELEASE_VERSION=0.0.1" >> $GITHUB_ENV
      - name: Update the version
        run: sed -i 's/0.0.0-dev/${{ env.RELEASE_VERSION }}/g' package.json
      - name: Publish
        run: yarn release
